{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <div class="container py-5">
    <h1>Лев Толстой</h1>
    <p>
      Группа тайных поклонников графа
    </p>
    <article>
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{post.text}}</p>
        {% if post.group %}
          <a href="{% url 'posts:group_list' post.group.slug %}">Все записи</a>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </article>
  </div>
{% endblock %}